{% extends "layout.html" %}
    {% block styles %}
        <link rel="stylesheet" href="/static/css/bmanager.css">
        <link rel="stylesheet" href="/static/css/book.css">
    {% endblock %}

    {% block title %}User{% endblock %}

    {% block main %}
        <section class="container book-first-area">
            <section class="book-first-header">
                <h2 class="book-header">Gestisci tutti gli utenti</h2>
                <h4 class="book-subtitle">Esplora, modifica e gestisci gli utenti con facilità</h4>
            </section>
        </section>        

        <section class="container book-third-block">
            <section class="book-third-header">
                <h2 class="book-third-title">Gestione Utenti</h2>
                <h4 class="book-third-subtitle">Visualizza, cerca e gestisci tutti gli utenti registrati nella piattaforma</h4>
                <input type="text" id="searchInput" class="form-control" placeholder="Cerca un utente...">
            </section>

            <section class="book-list">
                <h4 class="book-list-title">Tutti gli Utenti</h4>
                <ul id="bookList" class="list-group">
                    {% for user in users %}
                    <li class="list-group-item book-item">
                        <strong>{{ user.name }}</strong>  {{ user.email }}
                        <div class="book-actions">
                            <form action="{{ url_for('main.udelete', id=user.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="button-delete" onclick="return confirm('Sei sicuro di voler eliminare questo utente?');">Elimina</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>

        </section>

        <script>
            // Funzione di ricerca
            document.getElementById("searchInput").addEventListener("input", function() {
                let filter = this.value.toLowerCase();
                let items = document.querySelectorAll(".book-item");

                items.forEach(item => {
                    let name = item.querySelector("strong").innerText.toLowerCase();
                    let email = item.innerText.toLowerCase();

                    if (name.includes(filter) || email.includes(filter)) {
                        item.style.display = "";
                    } else {
                        item.style.display = "none";
                    }
                });
            });
        </script>
    {% endblock %}
